.vscode/
*.pyc
modules.sh
*/__pycache__/*
outputs/*
/wandb
*.out
lightning_logs
*-checkpoint.ipynb
calo_cluster.egg-info
test_simple_dataset.py
notebooks/metric_test.ipynb
notebooks/dataset_test.ipynb
notebooks/map_dev.ipynb
notebooks/hcal_exploration.ipynb
notebooks/hgcal_exploration.ipynb
notebooks/shmargin_test.ipynb
notebooks/wandb
*.png
*.txt
hgcal_dev.egg-info/PKG-INFO
train.sh
