absl-py==0.10.0
aiohttp==3.6.2
antlr4-python3-runtime==4.8
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
astroid @ file:///tmp/build/80754af9/astroid_1592495881661/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
awkward==0.13.0
backcall==0.2.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///tmp/build/80754af9/cffi_1600699180754/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
fsspec==0.8.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.9
google-auth==1.22.0
google-auth-oauthlib==0.4.1
grpcio==1.32.0
-e git+git@github.com:mit-han-lab/hgcal-dev.git@2cc4940fbb695c29d93afba154982219af1386a2#egg=hgcal_dev
hydra-core==1.0.3
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446408836/work
importlib-resources==3.0.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883837425/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1601490204941/work
jedi @ file:///tmp/build/80754af9/jedi_1596490743326/work
Jinja2==2.11.2
joblib==0.17.0
jsonschema @ file:///tmp/build/80754af9/jsonschema_1594363551272/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core==4.6.3
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876320876/work
mccabe==0.6.1
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==4.7.6
nbclient @ file:///tmp/build/80754af9/nbclient_1601059699549/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601069133048/work
nbformat==5.0.7
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
notebook @ file:///tmp/build/80754af9/notebook_1601501580008/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
oauthlib==3.1.0
olefile==0.46
omegaconf==2.1.0.dev7
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1601567284208/work
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
Pillow @ file:///tmp/build/80754af9/pillow_1594307325547/work
plotly @ file:///tmp/build/80754af9/plotly_1601587622649/work
prometheus-client==0.8.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pylint @ file:///tmp/build/80754af9/pylint_1598624038450/work
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141707582/work
python-dateutil==2.8.1
pytorch-lightning==0.10.0rc1
pytorch-metric-learning==0.9.93.dev0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
sentry-sdk==0.18.0
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
submitit==1.1.1
subprocess32==3.5.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.50.0
traitlets @ file:///tmp/build/80754af9/traitlets_1600712679583/work
typed-ast==1.4.1
typing-extensions==3.7.4.3
uproot==3.12.0
uproot-methods==0.7.4
urllib3==1.25.10
wandb==0.10.4
watchdog==0.10.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
yarl==1.6.0
zipp==3.1.0
